@model IndexVm

@{
    ViewData["Title"] = "ChattApp";
    var userName = Model.UserName;
}

<input hidden id="user" value="@userName">
<input hidden id="initial-messages" value='@Html.Raw(Json.Serialize(Model.Messages.Select(m => new { m.User.UserName, m.Message, m.FormattedCreatedOn })))'>


<div class="row">
    <div id="welcome-wrapper" class="text-center">
        <h1 class="display-4">Welcome @userName!</h1>
    </div>
    
    <div id="chat-window-wrapper"class="col-12 py-3">
        <div class="form-control" id="chat-window"></div>
    </div>
    <div id="message-wrapper">
        <div class="col-12">
            <input placeholder="Message" class="form-control" id="user-message">
        </div>
        
        <div class="col-md-3 offset-md-9 col-12 py-3">
            <button class="btn btn-primary w-100" id="button-send">Send</button>
        </div>
    </div>
    
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="js/chattApp.js"></script>
}